body
{
   background-color: pink ;
}
h1
{
  color: blue;
  font size: 60px;
}
h3
{
 color: blue;
 font size: 40px;

}
h4
{
color: blue;
 font size: 40px;
text-align: center;
}
p
{
 color: blue;
 font size: 40px;
}
